%button {
  display: inline-block;
  padding: 0.9rem;
  font-weight: 300;
  border-radius: 0.5rem;
}

%button-lg {
  display: inline-block;
  padding: 0.9rem;
  font-weight: 300;
  border-radius: 0.5rem;
}
