:root {
  --navbar-columns: 3;
  --button-bg-color: #db4747;
  --title-size: 1.5rem;
}

$break-points: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "xxl": 1400px,
);

$button-bg-color: #db4747;
