.wrapper {
  padding: 0.5rem;
  padding-top: 8.5rem;

  @include from(xl) {
    padding: 6.5rem;
  }
}

.about {
  font-weight: 300;

  @include from(md) {
    align-self: center;
    // padding: 1.2rem;
  }

  @include from(lg) {
    padding-right: 6rem;
  }

  &__title {
    @extend %title;
    font-size: clamp(2.5rem, 8vw, 6rem);
  }

  &__description {
    font-size: clamp(1rem, 2.5vw, 1.1rem);
    line-height: 1.6;
    padding: 2rem 0;
  }

  &__button {
    @extend %button-lg;
    background-color: var(--button-bg-color);
    display: block;

    &:hover {
      background: darken($button-bg-color, 10);
    }
  }
}
