.wrapper {
  padding: 0.5rem;
  padding-top: 8.5rem;

  @include from(xl) {
    padding: 6.5rem;
  }
}

.about {
  font-weight: 300;

  &__title {
    @extend %title;
    font-size: 5.5rem;
  }

  &__description {
    @extend %description;
  }

  &__button {
    @extend %button-lg;
    background-color: var(--button-bg-color);
    display: block;

    &:hover {
      background: darken($button-bg-color, 10);
    }
  }

  @include from(md) {
    align-self: center;

    &__title {
      font-size: clamp(2.5rem, 8vw, 6rem);
    }
  }

  @include from(lg) {
    padding-right: 6rem;
  }
}
