.article-container {
  margin-top: 7.5rem;
  padding: 0.5rem;

  & > p {
    font-weight: 200;
  }

  &__title {
    font-family: "Playfair Display", serif;
    font-size: 6rem;
    font-weight: 200;
  }
}

.article {
  margin-top: 2.5rem;
  &__info {
    padding: 0.5rem;
    background: url(../img/mockup.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
  }

  &__info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      180deg,
      #000000 0%,
      rgba(0, 0, 0, 0.2) 48.44%,
      #000000 100%
    );
  }

  &__info > * {
    position: relative;
  }

  &__name {
    font-size: var(--title-size);
    font-weight: 300;
  }

  &__list {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    margin-top: 0.5rem;
  }

  &__list-item {
    padding: 0.85rem;
    background: hsla(0, 0, 20, 0.7);
    border-radius: 0.25rem;
    font-weight: 200;
  }

  &__button {
    @extend %button;
    background-color: var(--button-bg-color);
    margin-top: 9.5rem;
    cursor: pointer;

    &:hover {
      background-color: darken($button-bg-color, 15);
    }

    & span {
      margin-left: 1rem;
    }
  }
}
