.footer {
  padding: 0.5rem;
  margin: 10rem 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__list {
    margin: auto;
    @extend %social;
    width: 50vw;
    padding: 2rem;
  }

  &__list-item svg {
    fill: white;

    &:hover {
      fill: hsl(0, 67, 57.1);
    }
  }

  &__button a {
    @extend %button;
    color: $red;
    font-size: 1.5rem;
    display: flex;
    align-items: center;

    & span {
      margin-left: 1.2rem;
    }

    & svg {
      fill: $red;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  @include from(md) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      margin: 0;
      width: auto;

      & * + * {
        margin-left: 1.4rem;
      }
    }
  }
}
