.started {
  padding: 0.5rem;

  &__upper {
    font-weight: 300;
  }

  &__title {
    margin-top: 1.2rem;
    @extend %title;
  }

  &__description {
    @extend %description;
  }

  @include from(md) {
    max-width: 50vw;
    margin: auto;
  }

  @include from(lg) {
    max-width: 40vw;
  }
}
