.article-container {
  position: relative;
}

#close-modal {
  font-size: 2.5rem;
  text-align: end;
  padding: 0.8rem 1.5rem 0 0;
  cursor: pointer;

  &:hover {
    color: $red;
  }
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(0, 0, 0, 0.85);
  z-index: 100;
  transform: translateX(100vw);
  transition: transform 0.2s;

  display: grid;
  grid-template-rows: auto 1fr;
}

.show-modal {
  transform: translateX(0);
}

.modal-article {
  padding: 0.5rem;
  width: 80%;
  margin: 0 auto;

  & > * {
    margin-top: 1.75rem;
  }

  &__name {
    @extend %card-title;
    font-size: 2rem;
    text-align: center;
  }

  &__img-container img {
    object-fit: cover;
    width: 100%;
    // display: block;
    // margin: auto;
  }
}
