body {
  position: relative;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem;
  background: black;

  &__list {
    width: 30vw;
    position: absolute;
    top: 0;
    right: -100%;
    background: hsl(0, 0, 0);
    font-size: 1.2rem;
    padding: 3rem 0;
    transition: right 0.3s linear;
  }

  &__list * + * {
    margin-top: 0.5rem;
  }

  &__list-item:hover {
    background: lighten(black, 10);
  }

  &__list-item a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0.8rem;
  }

  @include from(md) {
    & {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      padding: 0;
    }

    &__list {
      position: initial;
      display: grid;
      grid-template-columns: repeat(var(--navbar-columns), 1fr);
      padding: 0;
      width: auto;
    }

    &__list-item {
      margin: 0;
    }

    &__list-item a {
      padding: 0.85rem;
      text-align: center;
      width: auto;
    }
  }
}

.show-menu {
  right: 0;
}
