@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,400;1,500;1,600;1,700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1;
  background-color: #141415; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }

* {
  color: #fff; }

body {
  font-family: "Poppins", sans-serif; }

:root {
  --navbar-columns: 3;
  --title-size: 1.5rem;
  --button-bg-color: #db4747;
  --card-bg-color: #212123; }

.header__title, .article-container__title, .about__title, .started__title {
  font-size: 5rem;
  margin-top: 1.2rem;
  font-family: "Playfair Display", serif;
  font-weight: 100; }

.social__list, .footer__list {
  width: 25%;
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
  font-size: 1.75rem; }

.card__title {
  font-size: 1.5rem;
  font-weight: 300; }

.about__description, .started__description {
  font-size: clamp(1rem, 2.5vw, 1.1rem);
  line-height: 1.6;
  padding: 2rem 0; }

.article__button, .footer__button a {
  display: inline-block;
  padding: 0.9rem;
  font-weight: 300;
  border-radius: 0.5rem; }

.about__button, .form__button {
  padding: 1.2rem 0.5rem;
  font-weight: bold;
  border-radius: 0.5rem;
  text-align: center;
  cursor: pointer; }

.navbar__list {
  grid-column: 2; }

.article {
  display: grid;
  grid-template-rows: auto 1fr; }
  @media screen and (min-width: 768px) {
    .article {
      grid-template-columns: 1fr 1.5fr;
      grid-template-rows: repeat(2, 1fr); }
      .article__info {
        grid-column: 2;
        grid-row: 1/3; }
      .article:nth-child(odd) .article__info {
        grid-column: 1; } }

@media screen and (min-width: 768px) {
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr); } }

.skills-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1.5rem; }
  @media screen and (min-width: 768px) {
    .skills-container {
      grid-column: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, auto); } }

.about {
  grid-column: 2;
  grid-row: 1; }

.languages {
  display: grid;
  grid-template-rows: repeat(3, auto); }

body {
  position: relative;
  overflow-x: hidden; }

.navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem; }
  .navbar__list {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    font-size: 1.2rem;
    padding: 3rem 0;
    transition: right 0.3s linear;
    display: flex;
    flex-direction: column; }
  .navbar__list * + * {
    margin-top: 0.5rem; }
  .navbar__list-item:hover {
    background: #1a1a1a; }
  .navbar__list-item a {
    display: block;
    width: 100%;
    color: #fff;
    padding: 0.5rem 0.8rem;
    text-align: center; }
  @media screen and (min-width: 768px) {
    .navbar {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      padding: 0; }
    .navbar__list {
      position: initial;
      display: grid;
      grid-template-columns: repeat(var(--navbar-columns), 1fr);
      padding: 0;
      width: auto; }
    .navbar__list-item {
      margin: 0; }
    .navbar__list-item a {
      padding: 0.85rem;
      text-align: center;
      width: auto; } }

.show-menu {
  right: 0; }

.burger-button {
  width: 25px;
  position: relative;
  padding: 0.5rem;
  padding-right: 8%;
  cursor: pointer; }
  .burger-button span {
    display: block;
    margin-top: 0.2rem;
    border-top: 3px solid white;
    transition: transform 0.5s; }
  .burger-button .rotate-first {
    transform: rotateZ(45deg) translateX(10px); }
  .burger-button .hide {
    transform: translateX(100vw); }
  .burger-button .rotate-second {
    transform: rotateZ(-45deg) translate(9px); }
  @media screen and (min-width: 768px) {
    .burger-button {
      display: none; } }

.header {
  font-weight: 200;
  padding: 1.75rem 0.75rem; }
  .header * + * {
    margin-top: 0.75rem; }
  .header__title {
    font-style: italic; }
    .header__title span {
      display: block;
      min-height: 96px; }
    .header__title span:last-child {
      margin-left: 5vw; }
  .header__description {
    font-size: clamp(1rem, 2.5vw, 1.5rem);
    line-height: 18px; }
  @media screen and (min-width: 768px) {
    .header {
      max-width: 50vw;
      margin: auto; } }
  @media screen and (min-width: 992px) {
    .header {
      max-width: 40vw;
      margin: auto; } }

.social {
  padding: 0.75rem;
  font-size: 1.5rem; }
  .social__title {
    color: #db4747;
    padding-bottom: 2rem;
    font-weight: 300; }
  .social__list {
    border-top: 2px solid white; }
  .social__list-item:hover {
    transition: transform 0.5s;
    transform: rotateY(360deg); }
  @media screen and (min-width: 768px) {
    .social__title {
      display: none; }
    .social__list {
      position: absolute;
      right: -63px;
      top: 35vh;
      transform: rotateZ(90deg);
      padding-top: 0;
      border: none;
      max-width: 250px;
      font-size: 2rem; }
    .social__list-item:hover {
      transition: transform 0.5s;
      transform: rotateZ(-90deg); } }

.article-container {
  margin-top: 7.5rem;
  padding: 0.5rem; }
  .article-container > p {
    font-weight: 200; }
  .article-container__title {
    font-weight: 200; }

.article {
  margin-top: 2.5rem;
  box-shadow: 0px 1.91837px 23.0204px rgba(0, 0, 0, 0.25); }
  .article__info {
    padding: 0.5rem;
    background-position: center;
    background-size: cover;
    position: relative; }
  .article__info::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.2) 48.44%, #000000 100%); }
  .article__info > * {
    position: relative; }
  .article__name {
    font-size: var(--title-size);
    font-weight: 300; }
  .article__list {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-weight: 100;
    margin-top: 0.5rem; }
    @media screen and (min-width: 768px) {
      .article__list {
        width: 40%;
        margin: 0.5rem auto; } }
  .article__list-item {
    padding: 0.85rem;
    background: rgba(51, 51, 51, 0.7);
    border-radius: 0.25rem;
    font-weight: 200; }
  .article__button {
    background-color: var(--button-bg-color);
    margin-top: 9.5rem;
    cursor: pointer; }
    .article__button:hover {
      background-color: #b32323; }
    .article__button span {
      margin-left: 1rem; }
    @media screen and (min-width: 768px) {
      .article__button {
        margin-top: 20vw; } }

.wrapper {
  padding: 0.5rem;
  padding-top: 8.5rem; }
  @media screen and (min-width: 1200px) {
    .wrapper {
      padding: 6.5rem; } }

.about {
  font-weight: 300; }
  @media screen and (min-width: 768px) {
    .about {
      align-self: center; } }
  @media screen and (min-width: 992px) {
    .about {
      padding-right: 6rem; } }
  .about__title {
    font-size: 5.5rem; }
    @media screen and (min-width: 768px) {
      .about__title {
        font-size: clamp(2.5rem, 8vw, 6rem); } }
  .about__button {
    background-color: var(--button-bg-color);
    display: block; }
    .about__button:hover {
      background: #c82727; }

.skills-container {
  padding: 2.5rem; }

.card {
  background-color: var(--card-bg-color);
  padding: 3.5rem 2rem; }
  @media screen and (min-width: 768px) {
    .card {
      padding: 1.2rem 2rem; } }
  .card__icon {
    padding: 0.5rem;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%; }
  .card__title {
    margin-top: 2.5rem; }
    @media screen and (min-width: 768px) {
      .card__title {
        font-size: 1.2rem;
        margin-top: 1.2rem; } }
  .card__list-item {
    font-weight: 300;
    color: #7d7c84;
    margin-top: 1.5rem;
    list-style: initial;
    margin-left: 1.5rem;
    font-size: 1.5rem; }
    @media screen and (min-width: 768px) {
      .card__list-item {
        font-size: clamp(0.5rem, 2vh, 1.5rem);
        margin-top: 0.5rem; } }
    @media screen and (min-width: 992px) {
      .card__list-item {
        margin-top: 1.2rem; } }
  .card .hash {
    background-color: rgba(34, 176, 124, 0.5); }
  .card .square {
    background-color: rgba(55, 106, 236, 0.5); }
  .card .bulb {
    background-color: rgba(241, 157, 40, 0.5); }
  .card .heart {
    background-color: rgba(219, 72, 72, 0.5); }

.started {
  padding: 0.5rem; }
  .started__upper {
    font-weight: 300; }
  @media screen and (min-width: 768px) {
    .started {
      max-width: 50vw;
      margin: auto; } }
  @media screen and (min-width: 992px) {
    .started {
      max-width: 40vw; } }

.form label,
.form input,
.form textarea {
  display: block;
  font-weight: 300; }

.form label {
  background: #101010;
  height: 5.5rem;
  border-radius: 4px;
  padding: 1.2rem 1.75rem; }

.form input,
.form textarea {
  width: 100%;
  background: none;
  border: none;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  font-weight: 200; }

.form input:focus,
.form textarea:focus {
  outline: none; }

.form * + * {
  margin-top: 1.2rem; }

.form__button {
  background-color: var(--button-bg-color);
  width: 100%;
  font-size: 1.25rem;
  font-weight: bold; }
  .form__button:hover {
    background-color: #c82727; }

.footer {
  padding: 0.5rem;
  margin: 10rem 1rem 0;
  border-top: 1px solid rgba(255, 255, 255, 0.1); }
  @media screen and (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center; } }
  .footer__list {
    margin: auto;
    width: 50vw;
    padding: 2rem; }
    @media screen and (min-width: 768px) {
      .footer__list {
        margin: 0;
        width: auto; }
        .footer__list * + * {
          margin-left: 1.4rem; } }
  .footer__list-item svg {
    fill: white; }
    .footer__list-item svg:hover {
      fill: #db4848; }
  .footer__button a {
    color: #db4848;
    font-size: 1.5rem; }
    .footer__button a span {
      margin-left: 1.2rem; }
